.navButton {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
	padding: .5em;
	background-color: #222831;
	border-width: 0 0 1px;
}

.navButton a {
	color: #eee;
	text-decoration: none;
	padding:0 0 0 .5em;
	font-family:'Nunito Sans', sans-serif;
}

.navButton i {
 	font-size: 2em;
 	color: #eee;
 	padding: 0 1em 0 0;
 	transition: color .5s;
 	float:right;
 }

.close-menu i {float:right;
	font-size:2rem;
	color:#eee;
	margin-right:28px;
	margin-top:105px;}

nav i:hover {
 	color: #333;
 }

#nav {
 	position: fixed;
 	top: 3em;
 	right: -100%;
 	width: 100%;
 	margin: 0;
 	height: 100%;
 	background-color: #222831;
 	background-color: rgba(34, 40, 49, .8);
 	transition: right .5s;
 	z-index:1001;
}

#nav:target {
	right: 0;
}

nav {
	z-index: 1000;
}

nav ul {
	margin: 0;
	padding:0;
}
nav li {
	list-style: none;
	margin: 0;
	padding:0;	
}

nav li a {
	color: #eee;
	text-decoration: none;
	display: block;
	padding: 2em 1em;
	transition: all .5s;
	font-family:'Nunito Sans', sans-serif;
	letter-spacing:2px;
}

nav li a:hover {
	text-decoration: none;
	border: 2px solid #00adb5;
	color: #fff;
}

/* produces a blank line in mobile nav, but is
hidden when on wider screens. */
.hiddenLink {
	display: block;
}

/********************************************/
/* MEDIA QUERIES */
/********************************************/

@media only screen and (min-width: 30em) {
	.navButton {
		display: none;
	}

	#nav {
	 	margin-top:-50px;
	 	width: 100%;
	 	height: auto;
	 	padding:20px;
	 	background-color: #222831;
	 	position: fixed;
	 	z-index:1001;
	 	right:0;
	}

	.logo {float:left;
		width:8%;
		margin-left:80px;}

	nav {
		margin: 0;
	}

	nav ul {
		text-align: center;
		float:right;
		margin-top:-80px;
	}

	nav li {
		display: inline;
	}

	nav li a {
		display: inline-block;
		padding: .5em 1em;
	}

	.hiddenLink {
		display: none;
	}

	.close-menu {display:none;}

	.siteTitle {margin:0;
		padding:0;
		color:#00ADB5;
	font-family: 'Nunito Sans', sans-serif;
	font-size:3rem;
	margin-left:50px;
	float:left;
	margin-top:30px;
}


}
